:root{
    --primario: #52329c;
    --secundario: blue; 
}

@import url(https://fonts.googleapis.com/css?family=Domine:regular,700);
@import url(https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

body{
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1,
h2,
strong{
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    color: var(--primario);
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: blueviolet;
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 10px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}
li :hover{
  background-color: #7e74d37c
}



code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a{
    color: var(--primario);
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 10px;
    background-image: url("https://picsum.photos/id/318/600/400");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }
  #navbar{
    width: 10%;
  }
}
pic
/* #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: 4px;
    border-color: var(--primario);
    background-color: greenyellow;
}*/

#main-doc{
  left: 50px;
  top: 0.25rem;
}

#footer-d{
    margin-top: 50px;
    bottom: 0px;
}